@import "/mixins.scss";
@import "/variables.scss";

body {
  background-color: $bg;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 319px;
  border: 0;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include font-style(16px, $light-grey);
    padding-left: 10px;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @include font-style(16px, $light-grey);
    padding-left: 10px;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @include font-style(16px, $light-grey);
    padding-left: 10px;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @include font-style(16px, $light-grey);
    padding-left: 10px;
  }
}

button {
  border: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.icon-button {
  background-color: transparent;
  @include font-style(14px);
}

.justify-around {
  @include flex(flex, space-around, center);
}

.back-btn {
  background-color: transparent;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  @include font-style(21px, $dark-grey);
}

.justify-between {
  @include flex(flex, space-between, center);
}

.input-block {
  max-width: 543px;
  letter-spacing: 1.2px;
  margin: 78px 0 85px 5px;
  @include font-style(20px, $dark-grey);
}

.header-tab {
  letter-spacing: 2.6px;
  @include font-style(20px, $dark-grey)
}

.margin-input {
  margin: 23px 0;
}

.input-select {
  width: 304px;
  height: 35px;
  @include font-style(20px);
}

.text-style {
  letter-spacing: 1.28px;
  padding-left: 4px;
  @include font-style(21px, $light-grey);
}

.icons-list {
  height: 30px;
  width: 178px;
  margin: 43px 0 20px 0;
}

.control-button {
  @include flex(flex, center, center);
  background-color: $white;
  border-radius: 3px;
  width: 40px;
  height: 35px;
  margin: 2px;
}

.canvas-buttons {
  @include flex(flex, $flex-direction: column);
  position: absolute;
  left: -81px;
  bottom: 18px;
}

.save-button-container {
  @include flex(flex, flex-end);
  padding-top: 40px;
}

.save-button {
  width: 212px;
  height: 51px;
  border-radius: 24px;
  @include font-style(20px, $white);
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to left, $light-blue, $light-green);
}

.container-header {
  @include flex(flex, space-between, center);
  max-width: 100%;
  background-color: $white;
  height: 97px;
  padding: 0 44px 0 67px;
}

.header-title {
  @include font-style(28px);
}

.icon {
  width: 22px;
}

.select-input-style {
  position: inherit !important;
}

.position-relative {
  position: relative;
}

.container {
  max-width: 1610px;
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 100px;
}

.active-button {
  color: $blue;
}

.icons-margin {
  margin-left: -20px;
  transition: all ease 0.3s;
  &:hover {
    color: $blue;
  }
}

.canvas-img {
  width: 100%;
}

.logo {
  width: 100px;
}

.custom-select-container {
  display: inline-block;
  min-width: 200px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  @include font-style(16px);
  position: relative;
}

.custom-select-container-input {
  min-width: 330px;
}

.selected-text {
  background-color: $white;
  padding: 6px 20px;
  border-radius: 5px;
  color: $light-grey;
  letter-spacing: 1px;
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: $light-grey transparent transparent transparent;
}

.selected-text.active::after {
  top: 8px;
  border-color: transparent transparent $bg transparent;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.select-options {
  position: absolute;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background: $white;
  border-bottom: 1px solid $bg;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

li:hover {
  background-color: $bg;
  color: $light-grey;
}

@media screen and (max-width: 1600px) {
  .canvas-buttons {
    left: -55px;
  }
}

@media screen and (max-width: 675px) {
  .container {
    padding: 0 15px;
  }
  .header-title {
    @include font-style(20px);
  }
  .container-header {
    padding: 0 15px;
  }
  .margin-input {
    @include flex(flex, space-between, start, column);
  }
  .canvas-buttons {
    left: 0px;
    bottom: -70px;
  }
}