@mixin font-style($font-size: null, $font-color: null, $font-weight: null) {
  @if $font-size {
    font-size: $font-size;
  }
  @if $font-color {
    color: $font-color;
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
}

@mixin flex($display: null, $justify-content: null, $align-items: null, $flex-direction: null) {
  @if $display {
    display: $display;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items;
  }
  @if $flex-direction {
    flex-direction: $flex-direction
  }
}